/* =================================== HOME(INDEX) ============================================== */
/*-----------------Estefania (05/04/2026) estilos seccion galeria-----------------*/
.carrusel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    border: 2px solid var(--rosa);
    border-radius: 5px;
    background-color: var(--verde);
    margin: 40px auto;
    padding: 40px;
    width: 90vw;          /*mas grande que el main*/
    position: relative;   
    left: 50%;
    transform: translateX(-50%);
}

.foto  > img {
   max-width: 300px;
   border: 2px solid var(--beige);
}

.foto > img:hover {             
    transform:scale(1.5);
}

/*-----------------Estefania (05/04/2026) estilos seccion reseñas-----------------*/
.resenias {                   /*contenedor principal section*/
    display: flex;               
    flex-direction: row;     
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: auto;
    background: var(--rosa-sec);
    border-radius: 5px;
    border: 2px solid var(--rosa-sec);
    margin: 40px auto;
    padding: 30px 30px;
}

.resenia-item {               /*contenedor articulo*/
    flex: 1; 
    min-width: 200px;
    border: 2px solid var(--marron);
    background-color: var(--beige);
    border-radius: 5px;
    box-shadow: 2px 2px var(--verde-sombras);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 20px;
    text-align: left;
    color: var(--verde-sombras);
}

.resenia-item > p {
    color: var(--marron);
    line-height: 1.5;
    font-size: medium;
}

.resenia-item:hover {             
    transform: translateY(-8px);
}


.resenia-img {                /*contenedor foto + div */
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.resenia-img > img {         /*estilo foto*/
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.resenia-star {              /*contenedor star + h3*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: small;
}

.resenia-star > img {       /*estrellas*/
    width: 100px;
    height: auto;
}

/* =================================== SERVICIOS ================================================ */
/*(Estefanía 30/03/2026) Ajuste estilos del section*/
/*class del body es servicios*/
/*
.servicios {                      
    background-color:var(--marron); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.servicios main {                
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}*/

.contenedor-servicios {
    display: flex;
    flex-direction: column;

}

/*----------Galeria Servicios---------*/
.galeria-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    gap: 40px 130px;
}


/*---------------Tabla----------------*/
.contenedor-tabla {
    /*Estilos div tabla*/
    overflow-x: auto;
    width: 100%;
    background-color: burlywood;
    padding: 20px 10px 20px 10px;
    /*margin: 5px 5px 5px 5px;*/
    /*border: 2px solid gray; QUITAR*/
    /*overflow-x: auto;*/
}

.tabla-servicios,
th,
td {
    width: auto;
    /*Estilos tabla*/
    border-collapse: collapse;
}

th {
    border: 2px solid #f2eadf;
    height: 30px;
    padding: 10px;
    background-color: #AFBFA3;
    text-align: center;
    vertical-align: auto;
}

td {
    height: 20px;
    border-bottom: 1px dashed #2a2e27fe;
    background-color: #f2eadf;
    text-align: left;

}

tfoot td {
    padding: 10px;
    background-color: #AFBFA3;
    border: 2px solid #f2eadf;
}

    {
    text-align: center;
    background-color: #AFBFA3;
    border: 2px solid #f2eadf;
    padding: 5px;
}

div.galeria-servicios img {
    height: 300px;
    /*PENDIENTE DE AJUSTAR*/
    border: 2px solid #2a2e27fe;
    border-radius: 5px;
}

tr:hover td {
    background-color: #D996A2;
    border-color: #F294A5;
}

/*---------------Galeria--------------*/
.galeria-fotos {
    /*Estilos section galeria*/
    display: block;
    /*por defecto*/
    width: 100%;
    padding: 5px 5px;
    border: 2px solid gray;
}

.galeria-contenedor {
    /*contenedor galeria tarjetas mascotas*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
    background: #735449 url('images/fondo-tablero.jpg') no-repeat center;
    background-size: cover;
    border-radius: 5px;
    border: 3px solid #735449;
    margin: 30px 10px;
    padding: 20px 10px;
}

.galeria-item {
    /*contenedor/ tarjeta mascota*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: var(--verde);
    border: 2px solid var(--verde-sombras);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
    margin: 30px;
    padding: 10px;
    width: 250px;
    height: 500px;
    align-items: center;
}

.galeria-item img {
    /*imagen tarjeta mascota*/
    border: 2px solid var(--beige);
    border-radius: 5px;
    width: 100%;
}

.galeria-item div {
    /*texto tarjeta mascota*/
    width: 100%;
    background-color: #f2eadf;
    border: 1px dashed #2a2e27fe;
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px;
}

/* =================================== EQUIPO =================================================== */
/*class del body es equipo*/
.equipo {
    /*estilos generales del body*/
    background-color: var(--marron);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.equipo main {
    /*estilos del main*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

.equipo-texto {
    /*contenedor principal */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px auto;
}


.fundadoras-contenedor {
    /*contenedor 3 fundadoras */
    border: 1px solid var(--rosa);
    border-radius: 5px;
}

.fundadora-item {
    /*contenedor 1 fundadora*/
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid var(--verde-claro);
}

.fundadora-imagen {
    /*contenedor imagen*/
    width: 50%;
}

.fundadora-imagen img {
    /*estilo img*/
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--verde-sombras);
    border-radius: 5px;
}

.fundadora-texto {
    /*contenedor texto*/

}


.equipo-colaborador {
    border: 1px solid orange;
}

.voluntariado {
    border: 1px solid blue;
}

.instalaciones-contenedor {}

.instalaciones-img {}



.instalaciones-texto {}




/* =================================== SOBRE NOSOTRAS =========================================== */

body.sobre {
    min-height: 100vh;

    display: flex;
    justify-content: center;
     background-color: var(--marron);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    

    
}

.sobre > main {
    padding: 40px;
    color: var(--verde-sombras);
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    margin-top: 20px;
    text-align: center;
    border: 5px solid var(--verde);
    border-radius: 15px;
}

h1,
h2 {
    color: #D996A2;
    font-family: "Inconsolata", monospace;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px var(--rosa-sec);

}

.sobre p, .sobre li {

    line-height: 1.6;
    text-align: center;
    list-style: none;
}

.bloque {
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border:2px;
  }
    
.sobre-p {
    margin-top: 20px;
}

/* ======================== CONTACTO ====================================================== */
/* (Andrea 31/03/2026) Estilos página contacto */

body.contacto {
    background-color: var(--marron);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto main {
    /*Modifico los selectores porque hay interferencias*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

.contacto h1 {
    /*Modifico los selectores porque hay interferencias*/
    color: var(--rosa);
    text-align: center;
    text-shadow: 1px 1px 3px var(--rosa-sec);
    font-size: xx-large;
    text-transform: uppercase;
}

.contacto form {
    /*Modifico los selectores porque hay interferencias*/
    background-color: var(--beige);
    padding: 25px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    background: var(--beige);
    border: 2px solid var(--verde-sombras);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--marron);
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--verde-claro);
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.button {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#submit {
    background-color: var(--verde);
    color: white;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--verde-claro);
}

#Borrar {
    background-color: var(--rosa);
    color: white;
    border: none;
    cursor: pointer;
}

#Borrar:hover {
    background-color: var(--rosa-sec);
}

.formulario {
    color: var(--marron);
    font-weight: bold;
}

/* (Andrea 31/03/2026) Arreglados radios */

.radio-group {
    margin-bottom: 15px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.radio-item input[type="radio"] {
    width: auto;
    cursor: pointer;
}

/* Label alineado */
.radio-item label {
    margin: 0;
    cursor: pointer;
    color: var(--marron);
}

.radio-item label:hover {
    color: var(--rosa);
}

/* (Andrea 01/04/2026) Radios verdes */


.radio-item input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--verde);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

/* Círculo interior */
.radio-item input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--verde);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hover */
.radio-item input[type="radio"]:hover {
    border-color: var(--verde-claro);
}

/*click */
.radio-item input[type="radio"]:checked {
    border-color: var(--verde);
}

/* Label */
.radio-item label {
    cursor: pointer;
}

/* (Andrea 01/04/2026) Arreglando checkbox + hover otra vez */


/* Contenedor */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    border: 2px solid var(--verde);
    border-radius: 5px;

    cursor: pointer;
    position: relative;
}

/* Check interior */
.checkbox-group input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: var(--verde);
}

/* Hover */
.checkbox-group input[type="checkbox"]:hover {
    border-color: var(--rosa);
}

/* Animación*/
.checkbox-group input[type="checkbox"] {
    transition: all 0.2s ease;
}

/* Label */
.checkbox-group label {
    cursor: pointer;
    color: var(--marron);
}

/* Hover del texto */
.checkbox-group label:hover {
    color: var(--rosa);
}

/* Link dentro */
.checkbox-group a {
    color: var(--verde);
    font-weight: bold;
    text-decoration: none;
}

.checkbox-group a:hover {
    color: var(--rosa-sec);
}

/*Estilos de mapa + info*/

.mapa {                                 
    margin-top: 40px;
    text-align: center;
}

iframe {
    max-width: 100%;
    border-radius: 10px;
}

article p {
    color: var(--marron);
}

/*Estilos tabla horaria*/

table {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: var(--verde);
    color: white;
    padding: 10px;
}

td {
    border: 1px solid var(--verde-claro);
    padding: 10px;
}

/* =================================== TIENDA =================================================== */
/*(Estefanía 02/04/2026) Estilos del section*/
/*class del body es tienda*/
.tienda {
    /*estilos generales del body*/
    background-color: var(--marron);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tienda main {
    /*estilos del main*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

.tienda-contenido {
    /*section contenedor 2 bloques (fotos y texto)*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.tienda-imagenes {
    /*---contenedor imagenes----*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
    background-color: var(--verde);
    border: 2px solid var(--verde-sombras);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
}

.tienda-imagenes img {
    /*estilos imagen*/
    border: 2px solid var(--beige);
    border-radius: 5px;
    width: 100%;
}

.tienda-imagenes img:hover {
    transform: scale(1.5);
}

.tienda-texto {
    /*---contenedor texto---*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: var(--marron) url('images/fondo-tablero.jpg') no-repeat center;
    background-size: cover;
    border: 2px solid var(--marron);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
}

.tienda-texto>* {
    /*---estilos de los textos--*/
    background-color: var(--beige);
    border: 2px solid var(--beige);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    color: var(--verde-sombras);
    line-height: 1.6;
    font-size: medium;
}

.tienda-texto h1,
.tienda-texto h3 {
    text-transform: uppercase;
    color: var(--rosa);
    text-shadow: 1px 1px 3px var(--rosa-sec);
}

.tienda-texto h2 {
    text-transform: uppercase;
    color: var(--verde);
    text-shadow: 1px 1px 3px var(--verde-claro);
    text-align: center;
    font-size: xx-large;
}

.tienda-texto h1 {
    font-size: x-large;
}

.tienda-texto p {
    margin-bottom: 10px;
}

.tienda-texto li {
    /*estilos lista*/
    padding: 8px;
    margin: 5px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tienda-texto li::before {
    /*logo delante del li*/
    content: " ";
    /*contenedor vacio*/
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('images/logo-verde.png');
    background-size: contain;
    /*no recorta img*/
    background-repeat: no-repeat;
    rotate: 35deg;
}

.tienda-texto a {
    /*enlace*/
    display: inline-block;
    text-decoration: none;
    background-color: var(--verde-claro);
    color: var(--beige);
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.tienda-texto a:hover {
    background-color: var(--rosa-sec);
}

/* =================================== NEWSLETTER================================================ */
/*class del body es newsletter*/
.newsletter {
    /*estilos generales del body*/
    background-color: var(--marron);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newsletter main {
    /*estilos del main*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

.suscripcion {
    /*estilos contenedor img y form*/
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 40px;
    height: auto;
    width: auto;
    padding: 30px;
    margin: 40px auto;
    background: var(--marron) url('images/fondo-tablero.jpg') no-repeat center;
    background-size: cover;
    border: 2px solid var(--marron);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
}

.suscripcion form {
    /*estilos formulario*/
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--beige);
    border: 2px solid var(--verde);
    border-radius: 5px;
    color: var(--verde-sombras);
    text-align: center;
}

.suscripcion form>h1 {
    /*titulo form*/
    font-size: x-large;
    color: var(--rosa);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px var(--rosa-sec);
    margin: 0;
}

.suscripcion form>input[type="email"] {
    /*campo email*/
    border-radius: 5px;
    border: 1px solid var(--verde);
    padding: 10px;
    width: 100%;
}

.privacidad {
    /*bloque del checkbox*/
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: x-small;
    margin-top: 10px;
}

.privacidad input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.boton {
    /*enlace tipo boton*/
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

.boton,
.suscripcion form>button {
    /*enlace y boton*/
    border: none;
    border-radius: 5px;
    background-color: var(--verde-claro);
    color: var(--beige);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    font-family: inherit;
    width: fit-content;
}

.boton:hover,
.suscripcion form>button:hover {
    background-color: var(--rosa-sec);
}

.newsletter-logo {
    /*estilos contenedor imagen*/
    max-width: 400px;
}

.newsletter-logo img {
    /*estilos imagen*/
    width: 100%;
    height: 100%;
    border: 2px solid var(--beige);
    border-radius: 5px;
    object-fit: cover;
}

/* =================================== SUSCRIPCION ================================================ */
/*class del body es suscripcion*/
.suscripcion-realizada {
    /*estilos generales del body*/
    background-color: var(--marron);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.suscripcion-realizada main {
    /*estilos del main*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

.bienvenida {
    /*contenedor de img y texto*/
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 40px;
    height: auto;
    width: auto;
    padding: 30px;
    margin: 40px auto;
    background: var(--verde);
    border: 2px solid var(--verde-sombras);
    border-radius: 5px;
    box-shadow: 5px 6px var(--verde-sombras);
}

.bienvenida-img {
    /*contenedor imagen*/
    max-width: 400px;
}

.bienvenida-img img {
    /*estilos imagen*/
    width: 100%;
    height: 100%;
    border: 2px solid var(--beige);
    border-radius: 5px;
    object-fit: cover;
}

.bienvenida-texto {
    /*contenedor texto*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-color: var(--beige);
    border: 1px dashed var(--verde-sombras);
    border-radius: 5px;
    padding: 20px 20px;
    text-align: center;
    color: var(--verde-sombras);
}

.bienvenida-texto a {
    /*estilo enlace tipo boton*/
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 5px;
    background-color: var(--rosa);
    color: var(--beige);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    font-family: inherit;
}

.bienvenida-texto a:hover {
    background-color: var(--verde-claro);
}

.bienvenida-texto h1 {
    font-size: XX-large;
    color: var(--rosa);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px var(--rosa-sec);
    margin: 0;
}

/* =================================== ESTILOS PARA OBJETOS COMUNES A TODAS LAS PÁGINAS ============================================*/
/*==================================== GENERALES ================================================= */
/*(Estefanía 30/03/2026) Ajuste estilos generales*/
* {
    box-sizing: border-box;
    /* Resetear (dimension total real)*/
    margin: 0px;
    padding: 0px;
}

body {                      /*estilos comunes en todas las pag: body*/
   background-color:var(--marron); 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: var(--verde-sombras);
}

main {                     /*estilos comunes en todas las pag: main*/
    max-width: 1200px;
    margin: auto;
    background-color: var(--beige);
    padding: 40px;
}

/*(Andrea 30/03/2026)*/
/* Colores globales */
:root {
    --rosa: #F294A5;
    --rosa-sec: #D996A2;
    --verde: #9DBF8E;
    --verde-claro: #AFBFA3;
    --verde-sombras: #26321d;
    --verde-oscuro: #292D26;
    --beige: #F2EADF;
    --marron: #735449;
}

/*Fuente de títulos*/

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inconsolata:wght@200..900&display=swap');

h1 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-size: xx-large;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* =================================== BARRA DE NAVEGACIÓN ========================================*/
/* (Andrea 31/03/2026) Estilos navbar */
/* (Estefania 1/04/2026) Modifico y añado estilos barra navegacion*/

.nav {
    /*contenedor general barra navegacion*/
    max-height: none;
    background: var(--beige) url('images/fondo-tablero.jpg') no-repeat center;
    background-size: cover;
    border: 2px solid var(--verde);
    box-shadow: 0px 8px var(--verde-sombras);
    border-radius: 0px 0px 20px 20px;
}

.nav-container {
    /*contenedor 2 bloques (fotos y menu)*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block-end: 15px;
}

.nav-logo {
    /*------- contenedor imagenes-----------*/
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
}

#logo1 {
    /*estilos item logo*/
    max-height: 70px;
    height: auto;
    margin-bottom: 20px;
    rotate: 210deg;
}

#logo2 {
    max-height: 60px;
    height: auto;
    margin-bottom: 20px;
    rotate: 30deg;
}

#marca {
    /*estilos item marca*/
    max-height: 150px;
    height: auto;
}

.nav-menu {
    /*---------contenedor menu-----------------*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 30px 10px;
    /*top right/left bottom*/
}

.nav-menu li {
    /*estilos cajas "li" menu*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: none;
    background-color: var(--beige);
    border: 2px solid var(--verde);
    padding: 10px;
    border-radius: 40px 5px;
    box-shadow: 0px 5px var(--verde-sombras);
    list-style-type: none;
    gap: 8px;
}

.nav-menu li::before {
    /*logotipo delante del "li"*/
    content: " ";
    /*contenedor vacio*/
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('images/logo-rosa.png');
    background-size: contain;
    /*evitar recortar img*/
    background-repeat: no-repeat;
    margin-left: 5px;
    rotate: 35deg;
}

.nav-menu a {
    /*texto enlaces menu*/
    text-decoration: none;
    color: var(--verde-sombras);
    font-weight: bold;
}

/*pseudoclases enlaces y li menu*/
.nav-menu li:hover {
    transform: translateY(-8px);
}

.nav-menu a:hover {
    color: var(--rosa);
}

.nav-menu a:active {
    color: var(--verde);
}

/* =================================== FOOTER (PIE DE PÁGINA) =====================================*/

/* (Andrea 31/03/2026) Footer */

.footer {
    background-color: var(--verde-claro);
    padding: 40px 20px;
    color: var(--marron);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: var(--marron);
}

.footer a:hover {
    color: var(--rosa);
}

.copyright {
    text-align: center;
    margin-top: 20px;
}